@font-face{
    font-family:helvetica;
    src:url("Helvetica.ttf")
}

body{
    background-color:steelblue;
    color:white;
    font-family:helvetica;
    font-size:20px;
}

.cancelContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.cancelOne{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    margin-right:10px;
}
.cancelLabel{
    margin-left:200px;
}

#cancelReason{
margin-top:200px;
margin-left:10px;
}

.messagePrompt{
    margin-top:100px;
    margin-right:150px;
}

#optionalMessage{
    margin-left:-10px;
    height:500px;
    width:1000px;
    margin-top:85px;
}


#submit{
    margin-left:1230px;
    margin-top:80px;
    background-color:#599fda;
    color:white;
    font-family:helvetica;
    border-color:#599fda;
    border-style:solid;
    border-radius:10px;
    padding:20px;
    width:100px;
}

#submit:hover{
    background-color:steelblue;
}
